@import "./variables";
.main {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // letter-spacing: 0.2em;
}
.active {
  opacity: 0.7;
  border: 2px solid $orange;
  border-radius: 2em;
}
.orange {
  color: $orange;
}
.space {
  margin: 0 2em;
}
.prodImg {
  //   border: 1px dashed red;
  display: flex;
  flex-direction: column;
  .main-img-holder {
    width: 32vw;
    margin: 6vh;
    img {
      border-radius: 2em;
    }
  }
  .thumbnails-holder {
    display: flex;
    flex-direction: row;
    width: 32vw;
    justify-content: space-between;
    .thumbnails {
      //   border: 1px solid rgb(0, 255, 68);
      width: 15em;
      height: 15em;
      margin: 0.2em;
      img {
        border-radius: 2em;
      }

      :hover,
      :active {
        opacity: 0.7;
        border: 2px solid $orange;
      }
    }
  }
}
.prodInfo {
  //   border: 1px dashed orange;
  width: 42%;
  display: flex;
  flex-direction: column;
  padding: 15em 25em 2em 8em;
  .sneaker-company {
    //   border: 1px dashed rgb(91, 81, 105);
    letter-spacing: 0.2em;
    font-size: $font-size-paragraph;
    font-weight: $weights700;
    color: $orange;
    margin: 0em 0em 2em 0;
  }
  .fall {
    color: $very-vark-blue;
    font-size: 4rem;
    font-weight: $weights700;
    margin: 0em 0em 1em 0;
  }
  .paragraph {
    font-size: 1.8rem;
    font-weight: 0.9em;
    color: $grayish-blue;
    margin: 0em 0em 1em 0;
  }
  .price {
    color: $black-with-75-opacity-for-lightbox-background;
    font-weight: $weights700;
    font-size: 3rem;
    // margin-bottom: 1em;
    span {
      background-color: $pale-orange;
      color: $orange;
      padding: 0.1em 0.3em;
      border-radius: 5px;
      font-size: 2rem;
      margin: 3em;
    }
  }
  .reduction {
    font-size: 1.7em;
    font-weight: $weights700;
    color: $grayish-blue;
    margin-top: 0.4em;
    text-decoration: line-through;
  }
  .add-to-cart {
    button {
      background-color: grey;
      height: 1.5cm;
      margin: 2em 3em 0 0;
      border-radius: 7px;
      border: none;
    }
    .text {
      font-weight: $weights700;
      font-size: 1.7rem;
    }
    .plus-minus {
      background-color: $light-grayish-blue;
      margin: 4vh 1vw 1vh 0;

      span,
      svg {
        margin: auto 2.2ch;
      }
    }
    .add {
      background-color: $orange;
      color: $white;
      font-size: 01rem;
      span {
        margin: 2em;
        svg {
          margin: 0 2em;
        }
      }
    }
  }
}
.prodImg {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .prodImg,
  .prodInfo,
  .thumbnails-holder {
    width: 100%;
    margin: 0;
  }
}
